/*-------------------個人名の装飾---------------*/
.name
{
    font-size: 22px;
    color:  #111926;
    text-align: center;
}

/*-------------------項目切り替えボタンの装飾---------------*/
.switch_btn
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 54px;
    width: 65.2vw;
    max-width: 270px;
    margin: 22px auto 22px auto;
}

.left_btn
{
    width: 15px;
    height: 15px;

    border-top: none;
    border-left: solid 3px #111926;
    border-right: none;
    border-bottom: solid 3px #111926;
    background-color: #E3D3C6;

    transform: rotate(45deg);
    cursor: pointer;

}

.right_btn
{
    width: 15px;
    height: 15px;

    border-top: none;
    border-left: none;
    border-right: solid 3px #111926;
    border-bottom: solid 3px #111926;
    background-color: #E3D3C6;

    transform: rotate(315deg);
    cursor: pointer;
}

.left_btn_range, .right_btn_range
{
    width: 200%;
    height: 200%;
}

.left_btn_range
{
    position: relative;
    top: 0px;
    left: -15px;
    right: 0px;
    bottom: 0px;
    transform: rotate(45deg);
}

.right_btn_range
{
    transform: rotate(45deg);
}

.grade_type
{
    font-size: 18px;
    color:  #111926;
}

/*-------------------アクセス時だけの装飾---------------*/
#role, #win, #kyokubetsu, #score, #aisho
{
    display: none;
}

/*-------------------成績全体の装飾---------------*/
.grade
{   
    width: calc(100% - 46px);
    max-width: calc(500px - 46px); 
    margin: 0 auto;
}

/*-------------------グラフの装飾---------------*/
.figure
{
    color: #eacd53;

    width: 100%;
    height: 58.9vw;
    max-height: 298px;
    background-color: #111926;
    border-radius: 10px;
    border: none;

    margin: 0 auto;
}

/*-------------------各成績項目統一の装飾---------------*/
.item
{
    width: 100%;
    margin: 0 auto;
}

.each_item
{
    width: 100%;
    height: 61px;

    display: flex;
    border-bottom: solid 2px #111926;
    justify-content: space-between;
    align-items: center;

    color: #111926;
}

.each_item p
{
    margin: 0;
}

/*-------------------成績項目ごとの装飾---------------*/
@media screen and (min-width:401px)
{

    .param1
    {
        font-size: 18px;
        width: 46%;
        text-align: left;
        flex-grow: 3;
    }

    .param2, .param3
    {
        width: calc((100 - 45%) / 3);
        font-size: 16px;
        text-align: right;
    }

    .param4
    {
        width: 22%;
        font-size: 16px;
        text-align: right;
    }

    /*「成績」の装飾 */
    #grade .param3
    {
        width: 24%;
    }

    /*「役」の装飾 */
    #role .param4
    {
        width: 15%;
    }

    #role .param3
    {
        padding-left: 4%;
    }
}

@media screen and (min-width:350px)and (max-width:400px) 
{   
    .each_item
    {
        height: 55px;
    }
    .param1
    {
        font-size: 16px;
        width: 45%;
    }

    .param2, .param3, .param4
    {
        width: calc((100% - 45%)/3 + 5%);

        font-size: 14px;
        text-align: right;
    }

    #role .param4
    {
        width: 16%;
    }
}

@media screen and (max-width:350px) 
{  
    .each_item
    {
        padding: 5px 0;

        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
    }

    .param1
    {
        font-size: 16px;
        width: 100%;
    }

    .param2, .param3, .param4
    {
        width: calc(180px / 3 + 2%);
        font-size: 14px;
        text-align: right;
    }

    #role .param4
    {
        width: calc(180px / 3);
    }
}